<!-- include header -->
<%- include('common/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> List</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">Add Item</h2>
             <span class="text-light">Use the the following form to add an item to the list</span>
         </div>

         <%- include('common/_form') %>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('common/_footer') %>
<!-- /include footer -->